:root {
	--fa-default-family: duotone;
	--color-black: #101010;
	--color-white: #FFFFFF;
	--color-background: #333333;
	--color-background-offset: var(--color-white);
	--color-title: #2430d4;
	--color-title-offset: var(--color-white);
	--color-primary: #0c9bd9;
	--color-primary-offset: var(--color-white);
	--color-secondary: #2e54ff;
	--color-secondary-offset: var(--color-white);
	--color-tertiary: #7d0b77;
	--color-tertiary-offset: var(--color-white);
	--color-info: #2196f3;
	--color-info-offset: var(--color-white);
	--color-success: #1c970e;
	--color-success-offset: var(--color-white);
	--color-warning: rgb(191, 84, 31);
	--color-warning-offset: var(--color-white);
	--color-danger: rgb(183, 5, 5);
	--color-danger-offset: var(--color-white);
	--color-active: var(--color-info);
	--color-active-offset: var(--color-info-offset);
	--color-button: var(--color-info);
	--color-button-offset: var(--color-info-offset);
}

.card-header>.avatar {
	width: 38px;
	height: 38px;
}

.avatar>img {
	max-height: 100%;
	max-width: 100%;
}